Repository KozielGPC/championship-platform, pull requests merged in 2023-04, with the labels that each got.

#62 Initial Setup Frontend
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/README.md
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/next.svg
  frontend/public/thirteen.svg
  frontend/public/vercel.svg
  frontend/src/pages/_app.tsx
  frontend/src/pages/_document.tsx
  frontend/src/pages/api/hello.ts
  frontend/src/pages/index.tsx
  frontend/src/styles/Home.module.css
  frontend/src/styles/globals.css
  frontend/tsconfig.json
Labels: Frontend

#68 57 fazer formulário de cadastro de usuário
  CHANGELOG.md
  backend/championship-platform.db
  backend/main.py
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/_app.tsx
  frontend/src/pages/_document.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/signin.tsx
  frontend/src/pages/signup.tsx
  frontend/src/services/users/create.ts
  frontend/src/style/theme.tsx
  frontend/src/styles/Home.module.css
  frontend/src/styles/globals.css
  frontend/yarn.lock
Labels: Frontend, backend

#76 75 - Criar rotas para buscar games
  CHANGELOG.md
  backend/api/routers/games_routes.py
  backend/api/routers/routes.py
  backend/api/schemas/games.py
Labels: backend

#80 54 fazer tela com formulário para cadastro dos campeonatos
  CHANGELOG.md
  frontend/package.json
  frontend/src/components/layout.tsx
  frontend/src/components/signoutButton.tsx
  frontend/src/context/UserContext.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/mychampionships/index.tsx
  frontend/src/pages/mychampionships/new.tsx
  frontend/src/pages/myteams/index.tsx
  frontend/src/pages/myteams/new.tsx
  frontend/src/pages/signin.tsx
  frontend/src/services/championship/create.ts
  frontend/src/services/team/create.ts
  frontend/src/utils/dateTime.ts
Labels: Frontend

#81 79 Validação do nome de campeonatos e dos times
  CHANGELOG.md
  backend/api/routers/championships_routes.py
  backend/api/routers/teams_routes.py
  backend/migrations/versions/3cde0c5cbec8_update_team_password_lenght.py
  frontend/src/pages/myteams/new.tsx
Labels: backend
